/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/node_modules
organizations/fabric-ca/orderer/*
!organizations/fabric-ca/orderer/fabric-ca-server-config.yaml
organizations/fabric-ca/provider/*
!organizations/fabric-ca/provider/fabric-ca-server-config.yaml
organizations/fabric-ca/benefactors/*
!organizations/fabric-ca/benefactors/fabric-ca-server-config.yaml
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
bin/
config/
